@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Layout */
  body {
    @apply bg-core
      container 
      font-jetbrains 
      gap-8
      grid 
      items-start 
      lg:auto-cols-max 
      lg:grid-cols-1 
      lg:grid-flow-col 
      max-w-7xl 
      mx-auto 
      p-8
      text-slate-300;
  }

  main.markdown {
    @apply p-8 bg-stone-900;
  }

  nav {
    @apply bg-fuchsia-700 
      lg:max-w-fit
      lg:order-last
      p-8;
  }

  nav > ul {
    @apply list-none m-0;
  }

  nav > ul > li {
    @apply inline-block lg:block;
  }

  nav > ul > li > a {
    @apply no-underline m-3 text-lg;
  }

  section > a {
    @apply block bg-stone-900 p-8 mb-8 last:mb-0 no-underline;
  }

  section > a > article > div {
    @apply flex justify-end;
  }

  section > a > article > div > time {
    @apply font-medium text-sm rounded-md px-2 py-1 bg-fuchsia-500;
  }

  /* Markdown */
  a {
    @apply inline-block decoration-fuchsia-700 font-bold underline underline-offset-4;
  }

  blockquote {
    @apply p-4 border-l-4 border-fuchsia-400 bg-stone-800 max-w-max mb-4;
  }

  blockquote > blockquote {
    @apply mt-4;
  }

  blockquote > p {
    @apply m-0;
  }

  [type='checkbox'] {
    @apply bg-stone-800 text-fuchsia-700 border-fuchsia-700;
  }

  code {
    @apply rounded-md px-2 py-1;
  }

  hr {
    @apply h-px my-4 bg-fuchsia-300 border-0;
  }

  pre {
    @apply leading-none p-4 rounded-lg mb-4 max-w-max;
  }

  pre > code {
    @apply p-0;
  }

  del {
    @apply font-extralight text-fuchsia-200;
  }

  em {
    @apply text-fuchsia-300;
  }

  h1 {
    @apply before:content-['#\00a0'] font-bold text-5xl text-fuchsia-700 mb-4;
  }

  h2 {
    @apply before:content-['#\00a0'] font-bold text-4xl text-fuchsia-600 mb-4;
  }

  h3 {
    @apply before:content-['#\00a0'] font-bold text-3xl text-fuchsia-500 mb-4;
  }

  h4 {
    @apply before:content-['#\00a0'] font-bold text-2xl text-fuchsia-400 mb-4;
  }

  h5 {
    @apply before:content-['#\00a0'] font-bold text-xl text-fuchsia-300 mb-4;
  }

  h6 {
    @apply before:content-['#\00a0'] font-bold text-lg text-fuchsia-200 mb-4;
  }

  p {
    @apply mb-4;
  }

  strong {
    @apply font-bold text-fuchsia-500;
  }

  table {
    @apply mb-4 table-auto bg-stone-800;
  }

  thead {
    @apply bg-fuchsia-800;
  }

  th {
    @apply font-bold;
  }

  th,
  td {
    @apply px-4 py-2;
  }

  td > code {
    @apply bg-stone-700;
  }

  ul,
  ol {
    @apply marker:text-fuchsia-400 mb-4;
  }

  ol,
  li > ol {
    @apply list-decimal list-inside;
  }

  ul,
  li > ul {
    @apply list-disc list-inside;
  }

  li > ol,
  li > ul {
    @apply ml-4 mb-0;
  }

  li > p {
    @apply inline-block m-0;
  }
}
